<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week03 Day03 - DOM Anmations - Daily challenge : Show only the letters</title>
    <link rel="stylesheet" type="text/css" href="showLetters.css">
</head>

<body>

    <h1>Week03 Day03 - DOM Anmations - Daily challenge : Show only the letters</h1>

    <label>ON CHANGE</label>
    <input type="text" id="input1">
    <span id="result1"></span>

    <br/><br/>

    <label>ON INPUT</label>
    <input type="text" id="input2">
    <span id="result2"></span>

    <script src="showLetters.js"></script>
</body>

</html>