* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0px
}

input:valid {
    border: 1px solid black;
}

input:invalid {
    border: 2px solid red;
}

.fade {
    opacity: 1;
}

.fade:hover {
    opacity: 0.2;
}