body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
}

#top {
    display: flex;
    justify-content: space-between;
}

.button {
    border: 3px solid green;
    border-radius: 1em;
    color: white;
    background-color: rgb(68, 60, 60);
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: .3em;
    padding: -2em;
    cursor: pointer;
}

.set {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.planet {
    width: 5em;
    height: 5em;
    text-align: center;
    padding: 10px;
    /* position: relative; */
}

.moon {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: grey;
    /* position: absolute; */
}