body {
    background-color: lightgrey;
    border: 1px solid;
    margin: 0 0;
    padding: 10px 10px;
    display: flex;
}

#left {
    background-color: red;
}

#right {
    width: 900px;
    height: 100%;
    background-color: white;
    flex: 5;
}

#clear {
    width: 10em;
    height: 3em;
    border: 2px solid;
    border-radius: 5em;
    text-align: center;
    align-items: middle;
}

#pallet {
    background-color: yellow;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

.hue {
    width: 2em;
    height: 3em;
    background-color: rgb(210, 163, 236);
    border: 1px solid black;
    display: inline-flexbox;
}